

@import url(https://fonts.googleapis.com/css?family=Roboto:300);



.form-layout {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 1em;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 1em;
}

.button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #4CAF50;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  transition: all 0.3 ease;
  cursor: pointer;
}

.button:disabled {
  background: red;
}

.form .is-focus{
  border: thin solid green;
}

.form .is-bad{
  border: thin solid red;
}

.form .message {
  margin: 15px 0 0;
  color: #b3b3b3;
  font-size: 14px;
}
.form .message a {
  color: #4CAF50;
  text-decoration: none;
}

.form .radio-tags{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: baseline;
  background: #f2f2f2;
  padding-top: .6em;
}

.form .check-tags{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: baseline;
  margin-top: 1em;
  background: #f2f2f2;

}

.form .label{
  text-align: left;
  font-family: "Roboto", sans-serif;
  font-size: .9em;
}