
/* Add a black background color to the top navigation bar */
  .nav-bar {
    width: 100%;
    overflow: hidden;
    padding: 1em 0;
  }
  
  /* Style the links inside the navigation bar */
  .nav-bar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* font-size: 17px; */
    font-size: 1em;
  }
  
  /* Style the search box inside the navigation bar */
  .nav-bar input[type=search] {
    /* float: right; */
    padding: 3px;
    border: none;
    margin-top: 13px;
    margin-right: 16px;
    width: 5.8em;
    
  }
  
  .nav-bar a.login{ 
    float: right;
  }

  .nav-bar a.logout{ 
    float: right;
  }

  .nav-bar a.newAd{ 
    float: right;
  }
  
  nav a.hidden{
    display: none;
  }

  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

  