@import "https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css";

*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  

img, 
video{
    max-width: 100%;
}

a{
  text-decoration: none;
}

header, main, article, section, video, picture{
  display: block;
}

p{
  margin: 0;
  padding: 0;
}
