

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  background: #aaccff;
  background-image: linear-gradient(to bottom right, #eee, #acf); 
}

.header{
  width: 100%;
  height: 90px;
  background-color: #000F33;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  z-index: 99;
}

.nav-bar{
  background: #000F33;
}

.nav-tags{
  margin-top: 90px;
  height: 50px;
  display: flex;
  overflow: hidden;
 
}

.nav-tag-items{
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #004552;
  
  font-weight: bold;
}

.nav-tag-items i{
  font-size: 2em;
  color: #32b4ba;
}


.footer{
  width: 100%;
  height: 90px;
  color: #fff;
  background: #006cc3;
  background-image: linear-gradient(to bottom right, #006cc3, #009984);
}

h1{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  text-align: center;
}

a {
  color: #ffffff;
}

/* Global errors */
.global-errors {
  padding: 20% 10%;
}

.nofloat{
  clear: both;
}
